@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    font-family: 'Poppins',sans-serif!important;
}
.footer{
    z-index: 999;
    position: fixed;
    bottom:25px;
    font-size: 0.8em;
    right: 25px;
    color: aliceblue;
}
.footer span a:hover{
    color:red!important;
    font-size: 1.2em;
}

.miElemento, .miElemento1{
    display: none;
}

#boton1 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;
  }
  #boton1:hover:after {
    top: 0;
    left: 0;
  }
  #boton1:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: #6c757d;
  }

  #mapaEstrategico{

    width: 80%;
    height: 100%;
    justify-items: center;
  }

  #section-3{
    width: 100%;
    padding-top: 0%;
  

  }

  #section-4{
  
    padding-top: 2%;

  }

  
